src/main/mule/hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="998032b8-bd11-42e3-a764-30760f172bf4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-worldFlow" doc:id="3f53d3b8-8936-4608-81d0-34c1f70be8b4" >
		<http:listener doc:name="Listener" doc:id="5c8ef4bc-ea19-45ea-885a-cf0321c3f6fb" path="/hello" config-ref="HTTP_Listener_config"/>
		<set-payload value='"Hello world"' doc:name="Set Payload" doc:id="8a588065-9b75-43b2-916f-ea25777d0ffc" />
		<logger level="INFO" doc:name="Logger" doc:id="1b6f5dd5-5375-419f-b8f4-a004153892a9" message="#[payload]"/>
	</flow>
</mule>
